<%= form_for @clutch do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :laid_on %><br />
    <%= f.date_select :laid_on %>
  </p>
  <p>
    <div class="tablecell">
      <%= f.label :viable %><br />
      <%= f.select :viable, 0..50 %>
    </div>
    <div  class="tablecell">
      <%= f.label :questionable %><br />
      <%= f.select :questionable, 0..50 %>
    </div>
    <div class="tablecell">
      <%= f.label :total %><br />
      <%= f.select :total, 0..50 %>
    </div>
  </p>
  <p>
  <div class="tablecell">
    <%= f.label :m_dragon_id %><br />
    <%= f.collection_select :m_dragon_id, Dragon.find(:all, :joins => :status,
                                                       :conditions => { :statuses => { :fertile => true }, :male => true },
                                                     ), :id, :number, :selected => params[:dragon_id] %>
  </div>
  <div class="tablecell">
    <%= f.label :f_dragon_id %><br />
    <%= f.collection_select :f_dragon_id, Dragon.find(:all, :joins => :status,
                                                       :conditions => { :statuses => { :fertile => true }, :male => false },
                                                     ), :id, :number, :selected => params[:dragon_id] %>
  </div>
  </p>
  <p>
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </p>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <p><%= f.submit %></p>
<% end %>

