<% title "Clutch" %>

<p>
  <strong>Laid On:</strong>
  <%= @clutch.laid_on %>
</p>
<p>
  <strong>M Dragon:</strong>
  <% if @clutch.m_dragon %><%= link_to(@clutch.m_dragon.number, dragon_path(@clutch.m_dragon.id)) %><% end %>
</p>
<p>
  <strong>F Dragon:</strong>
  <% if @clutch.f_dragon %><%= link_to(@clutch.f_dragon.number, dragon_path(@clutch.f_dragon.id)) %><% end %> 
</p><p>
  <strong>Viable:</strong>
  <%= @clutch.viable %>
</p>
<p>
  <strong>Questionable:</strong>
  <%= @clutch.questionable %>
</p>
<p>
  <strong>Total:</strong>
  <%= @clutch.total %>
</p>
<p>
  <strong>Comments:</strong>
  <%= @clutch.comments %>
</p>
<div class="field">
<p class="title">
  <strong>Hatches:</strong>
</p>
  <table>
  <th width=60%>Date</th>
  <th width=40%>Hatchlings</th>
  <% @clutch.hatches.each do |h| %>
  <tr>
    <td><%= link_to(h.out_on, hatch_path(h.id)) %></td>
    <td><%= h.hatchlings %></td>
  </tr>
  <% end %>
  <tr>
    <td> Total: </td>
    <td> <%= @clutch.hatches.sum(:hatchlings)  %> </td>
  </tr>
  </table>
  <%= link_to "Add New Hatch", new_clutch_hatch_path(@clutch.id) %>
</div>
<div class="field">
<p class="title">
  <strong>Dragons:</strong>
</p>
<table>
  <tr>
    <th>Number</th>
    <th>Source</th>
    <th>Group</th>
    <th>Status</th>
    <th>Sex</th>
  </tr>
  <% for dragon in @clutch.dragons %>
    <tr>
      <td><%= link_to(dragon.number, dragon_path(dragon.id)) %></td>
      <td><%= link_to(dragon.source.name, source_path(dragon.source.id)) %></td>
      <td><%= link_to(dragon.group.name, group_path(dragon.group.id))  %></td>
      <td><%= link_to(dragon.status.name, status_path(dragon.status.id)) %></td>
      <td><%= sex(dragon.male) %></td>
      <td><%= link_to "Edit", edit_dragon_path(dragon) %></td>
    </tr>
  <% end %>
</table>
</div>

<p>
  <%= link_to "Edit", edit_clutch_path(@clutch) %> |
  <%= link_to "View All", clutches_path %>
</p>
