<% title "Clutch" %>

<p>
  <strong>Laid On:</strong>
  <%= @clutch.laid_on %>
</p>
<p>
  <strong>Viable:</strong>
  <%= @clutch.viable %>
</p>
<p>
  <strong>Questionable:</strong>
  <%= @clutch.questionable %>
</p>
<p>
  <strong>Total:</strong>
  <%= @clutch.total %>
</p>
<p>
  <strong>M Dragon:</strong>
  <% if @clutch.m_dragon %><%= @clutch.m_dragon.number %><% end %>
</p>
<p>
  <strong>F Dragon:</strong>
  <% if @clutch.f_dragon %><%= @clutch.f_dragon.number %><% end %> 
</p>
<p>
  <strong>Comments:</strong>
  <%= @clutch.comments %>
</p>
<p>
  <strong>Entered:</strong>
  <% if @clutch.user %><%= @clutch.user.firstname %><% end %>
</p>

<p>
  <%= link_to "Edit", edit_clutch_path(@clutch) %> |
  <%= link_to "Destroy", @clutch, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", clutches_path %>
</p>
