<% title "Clutch" %>

<p>
  <strong>Laid On:</strong>
  <%= @clutch.laid_on %>
</p>
<p>
  <strong>Viable:</strong>
  <%= @clutch.viable %>
</p>
<p>
  <strong>Questionable:</strong>
  <%= @clutch.questionable %>
</p>
<p>
  <strong>Total:</strong>
  <%= @clutch.total %>
</p>
<p>
  <strong>M Dragon:</strong>
  <% if @clutch.m_dragon %><%= @clutch.m_dragon.number %><% end %>
</p>
<p>
  <strong>F Dragon:</strong>
  <% if @clutch.f_dragon %><%= @clutch.f_dragon.number %><% end %> 
</p>
<p>
  <strong>Comments:</strong>
  <%= @clutch.comments %>
</p>
<p>
  <strong>Hatches:</strong>
  <table>
  <th>Date:</th>
  <th>Hatchlings</th>
  <% @clutch.hatches.each do |h| %>
  <tr>
    <td><%= h.out_on %></td>
    <td><%= h.hatchlings %></td>
  </tr>
  <% end %>
  </table>
  <%= link_to "Add New Hatch", new_clutch_hatch_path(@clutch.id) %>
</p>
<p>
  <strong>Dragons:</strong>
<table>
  <tr>
    <th>Number</th>
    <th>Clutch</th>
    <th>Source</th>
    <th>Group</th>
    <th>Status</th>
    <th>Sex</th>
  </tr>
  <% for dragon in @clutch.dragons %>
    <tr>
      <td><%= dragon.number %></td>
      <td><%= dragon.clutch_id %></td>
      <td><%= dragon.source.name %></td>
      <td><%= dragon.group.name %></td>
      <td><%= dragon.status.name %></td>
      <td><%= sex(dragon.male) %></td>
      <td><%= link_to "Show", dragon %></td>
      <td><%= link_to "Edit", edit_dragon_path(dragon) %></td>
      <td><%= link_to "Destroy", dragon, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
</p>

<p>
  <%= link_to "Edit", edit_clutch_path(@clutch) %> |
  <%= link_to "Destroy", @clutch, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", clutches_path %>
</p>
