<%= form_for @morph do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :dragon_id %><br />
    <%= f.collection_select :dragon_id, Dragon.all, :id, :number, :selected => params[:dragon_id] %>
  </p>
  <p>
    <%= f.label :morph_type_id %><br />
    <%= f.collection_select :morph_type_id, MorphType.all, :id, :name %>
  </p>
  <p><%= f.submit %></p>
<% end %>
