<% title "Morphs" %>

<table>
  <tr>
    <th>Dragon</th>
    <th>Morph Type</th>
    <th>User</th>
  </tr>
  <% for morph in @morphs %>
    <tr>
      <td><%= morph.dragon_id %></td>
      <td><%= morph.morph_type %></td>
      <td><%= morph.user_id %></td>
      <td><%= link_to "Show", morph %></td>
      <td><%= link_to "Edit", edit_morph_path(morph) %></td>
      <td><%= link_to "Destroy", morph, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Morph", new_morph_path %></p>
