<% title "Morph" %>

<p>
  <strong>Dragon:</strong>
  <%= @morph.dragon_id %>
</p>
<p>
  <strong>Morph Type:</strong>
  <%= @morph.morph_type %>
</p>
<p>
  <strong>User:</strong>
  <%= @morph.user_id %>
</p>

<p>
  <%= link_to "Edit", edit_morph_path(@morph) %> |
  <%= link_to "Destroy", @morph, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", morphs_path %>
</p>
