<%= form_for @treatment do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :dragon_id %><br />
    <% unless params[:dragon_id] || controller.action_name == "edit" %>
      <%= f.collection_select :dragon_id, Dragon.find(:all, :joins => :status, :conditions => { :statuses => { :tracked => true } }), :id, :number, :selected => params[:dragon_id] %>
    <% else %>
      <% if controller.action_name == "new" %>
        <h2><%= Dragon.find(:first, :conditions => { :id => params[:dragon_id]}).number %></h2>
        <%= f.hidden_field :dragon_id, :value => params[:dragon_id]%>
      <% else %>
        <h2><%= @treatment.dragon.number %></h2>
        <%= f.hidden_field :dragon_id, :value => @treatment.dragon_id %>
      <% end %>
    <% end %>
  </p>
  <p>
    <%= f.label :treated_on %><br />
    <%= f.date_select :treated_on %>
  </p>
  <p>
    <%= f.label :medication_id %><br />
    <%= f.collection_select :medication_id, Medication.all, :id, :name %>
  </p>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <p><%= f.submit %></p>
<% end %>
