<%= form_for @dragon do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :clutch_id %><br />
    <%= f.collection_select :clutch_id, Clutch.all, :id, :name, {:include_blank => 'None'} %>
  </p>
  <p>
    <%= f.label :source_id %><br />
    <%= f.collection_select :source_id, Source.all, :id, :name %>
  </p>
  <p>
    <%= f.label :group_id %><br />
    <%= f.collection_select :group_id, Group.all, :id, :name %>
  </p>
  <p>
    <%= f.label :status_id %><br />
   <%= f.collection_select :status_id, Status.all, :id, :name %>
  </p>
  <p>
    <%= f.label :male %><br />
    <%= f.check_box :male %>
  </p>
  <p>
<% if logged_in? %>
    <%= f.label :user_id %><br />
    <%= f.hidden_field :user_id, current_user.id %>
  </p>
<% end %>
  <p><%= f.submit %></p>
<% end %>
