<% title "Dragons" %>

<table>
  <tr>
    <th>Number</th>
    <th>Clutch</th>
    <th>Source</th>
    <th>Group</th>
    <th>Status</th>
    <th>Weight</th>
    <th>Sex</th>
    <th>Location</th>
  </tr>
  <% for dragon in @dragons.sort_by(&:number) %>
    <tr>
      <td><%= link_to(dragon.number, dragon) %></td>
      <td><% if dragon.clutch %><%= link_to(dragon.clutch.name, clutch_path(dragon.clutch.id)) %><% end %></td>
      <td><%= link_to(dragon.source.name, source_path(dragon.source.id)) %></td>
      <td><%= link_to(dragon.group.name, group_path(dragon.group.id)) %></td>
      <td><%= link_to(dragon.status.name, status_path(dragon.status.id)) %></td>
      <td><% if dragon.weights.count > 0 %><%= dragon.weights.sort_by(&:weighed_on).last.weight %><% end %></td>
      <td><%= sex(dragon.male) %></td>
      <td><% if dragon.locations.count > 0 %><%= dragon.locations.last.short %><% end %></td
      <% if access?(dragon.user_id) %> 
        <td><%= link_to "Edit", edit_dragon_path(dragon) %></td>
      <% end %>
      <% if access?(dragon.user_id) && dragon.weights.count == 0 && dragon.clutches.count == 0 && dragon.treatments.count ==0 %><td><%= link_to "Remove", dragon, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Dragon", new_dragon_path %></p>
