<% title "Dragon: #{@dragon.number}" %>

<p>
  <strong>Clutch:</strong>
  <% if @dragon.clutch %>
  <%= link_to(@dragon.clutch.name, clutch_path(@dragon.clutch.id)) %>
  <% else %>
   -- N/A --
  <% end %>
</p>
<p>
  <strong>Source:</strong>
  <%= link_to(@dragon.source.name, source_path(@dragon.source.id)) %>
</p>
<p>
  <strong>Group:</strong>
  <%= link_to(@dragon.group.name, group_path(@dragon.group.id)) %>
</p>
<p>
  <strong>Status:</strong>
  <%= link_to(@dragon.status.name, status_path(@dragon.status.id)) %>
</p>
<p>
  <strong>Sex:</strong>
  <%= sex(@dragon.male) %>
</p>
<p>
  <strong>Total Clutches:</strong>
  <%= @dragon.clutches.count %>
</p>

<% if @dragon.clutch %>
<div class="field">
  <p class="title">
    <strong>Inheritance</strong>
  </p>
  <table>
    <tr>
      <td width=50%><strong>Father: <%= link_to(@dragon.clutch.m_dragon.number, dragon_path(@dragon.clutch.m_dragon.id)) %></strong></td>
      <td width=50%><strong>Mother: <%= link_to(@dragon.clutch.f_dragon.number, dragon_path(@dragon.clutch.f_dragon.id)) %></strong></td>
  </tr>
  <tr>
      <td>
        <strong>Morph:</strong>
        <ul>
          <% @dragon.clutch.m_dragon.morphs.each do |m| %>
            <%= link_to(m.morph_type.name, morph_type_path(m.morph_type.id)) %>
          <% end %>
        </ul>
      </td>
      <td>
        <strong>Morph:</strong>
        <ul>
          <% @dragon.clutch.f_dragon.morphs.each do |m| %>
            <li><%= link_to(m.morph_type.name, morph_type_path(m.morph_type.id)) %></li>
          <% end %>
        </ul>
      </td>
  </tr>
  <tr>
    <td><strong>Clutches: </strong><%= @dragon.clutch.m_dragon.clutches.count %></td>
    <td><strong>Clutches: </strong><%= @dragon.clutch.m_dragon.clutches.count %></td>
  </tr>
</table>
</div>
<% end %>

<div class="field">
<p class="title">
  <strong>Morph Characteristics:</strong>
</p>
  <ul>
  <% @dragon.morphs.each do |m| %>
    <li><%= link_to(m.morph_type.name, morph_type_path(m.morph_type.id)) %></li>
  <% end %>
  </ul>
  <%= link_to "Add New Morph Characteristic", new_dragon_morph_path(@dragon.id) %>
</div>

<div class="field">
<p class="title">
  <strong>Weight History:</strong>
</p>
  <table>
  <th width=30%>Type</th>
  <th width=50%>Date</th>
  <th>Weight</th>
  <% @dragon.weights.sort_by(&:weighed_on).each do |w| %>
  <tr>
    <td><%= w.weight_type.name %></td>
    <td><%= w.weighed_on %></td>
    <td><%= w.weight %></td>
  </tr>
  <% end %>
  </table>
  <%= link_to "Add New Weight", new_dragon_weight_path(@dragon.id) %>
</div>

<div class="field">
<p class="title">
  <strong>Medical History:</strong>
</p>
  <table>
  <th>Date</th>
  <th>Medication</th>
  <% @dragon.treatments.sort_by(&:treated_on).each do |t| %>
  <tr>
    <td><%= link_to(t.treated_on, treatment_path(t.id)) %></td>
    <td><%= t.medication.name %></td>
  </tr>
  <% end %>
  </table>
  <%= link_to "Add New Treatment", new_dragon_treatment_path(@dragon.id) %>
</div>

<div class="field">
<p class="title">
  <strong>Clutch History:</strong>
</p>
  <table>
  <th width=28%>Date</th>
  <th width=10%>Mate</th>
  <th>Viable</th>
  <th>Total</th>
  <th>Hatched</th>
  <% @dragon.clutches.each do |c| %>
  <tr>
    <td><%= link_to(c.laid_on, clutch_path(c.id)) %></td>
    <td><% if @dragon.male %><%= link_to(c.f_dragon.number, dragon_path(c.f_dragon.id)) %><% else %><%= link_to(c.m_dragon.number, dragon_path(c.m_dragon.id)) %><% end %></td>
    <td><%= c.viable %></td>
    <td><%= c.total %></td>
    <td><%= c.hatches.sum(:hatchlings) %></td>
  </tr>
  <% end %>
  </table>
  <%= link_to "Add New Clutch", new_dragon_clutch_path(@dragon.id) %>
</div>

<p>
  <%= link_to "Edit", edit_dragon_path(@dragon) %> 
</p>
