<% title "Dragon" %>

<p>
  <strong>Number:</strong>
  <%= @dragon.number %>
</p>
<p>
  <strong>Clutch:</strong>
  <%= @dragon.clutch_id %>
</p>
<p>
  <strong>Source:</strong>
  <%= @dragon.source.name %>
</p>
<p>
  <strong>Group:</strong>
  <%= @dragon.group.name %>
</p>
<p>
  <strong>Status:</strong>
  <%= @dragon.status.name %>
</p>
<p>
  <strong>Sex:</strong>
  <%= sex(@dragon.male) %>
</p>
<p>
  <strong>Morph Characteristics:</strong>
  <table>
  <% @dragon.morphs.each do |m| %>
  <tr>
    <td><%= m.morph_type.name %></td>
  </tr>
  <% end %>
  </table>
  <%= link_to "Add New Morph Characteristic", new_dragon_morph_path(@dragon.id) %>
</p>
<p>
  <strong>Weight History:</strong>
  <table>
  <th>Type</th>
  <th>Date</th>
  <th>Weight</th>
  <% @dragon.weights.each do |w| %>
  <tr>
    <td><%= w.weight_type.name %></td>
    <td><%= w.weighed_on %></td>
    <td><%= w.weight %></td>
  </tr>
  <% end %>
  </table>
  <%= link_to "Add New Weight", new_dragon_weight_path(@dragon.id) %>
</p>

<p>
  <strong>Medical History:</strong>
  <table>
  <th>Date</th>
  <th>Medication</th>
  <% @dragon.treatments.each do |t| %>
  <tr>
    <td><%= t.treated_on %></td>
    <td><%= t.medication.name %></td>
  </tr>
  <% end %>
  </table>
  <%= link_to "Add New Treatment", new_dragon_treatment_path(@dragon.id) %>
</p>

<p>
  <strong>Clutch History:</strong>
  <table>
  <th>Date</th>
  <th>Mate</th>
  <th>Viable</th>
  <th>Total</th>
  <th>Hatched</th>
  <% @dragon.clutches.each do |c| %>
  <tr>
    <td><%= c.laid_on %></td>
    <td><% if @dragon.male%><%= c.f_dragon.number %><% else %><%= c.m_dragon.number %><% end %></td>
    <td><%= c.viable %></td>
    <td><%= c.total %></td>
    <td><%= c.hatches.sum(:hatchlings) %></td>
  </tr>
  <% end %>
  </table>
  <%= link_to "Add New Clutch", new_dragon_clutch_path(@dragon.id) %>
</p>

<p>
  <%= link_to "Edit", edit_dragon_path(@dragon) %> |
  <%= link_to "Destroy", @dragon, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", dragons_path %>
</p>
