<%= form_for @hatch do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :clutch_id %><br />
    <%= f.collection_select :clutch_id, Clutch.all, :id, :name, :selected => params[:clutch_id] %>
  </p>
  <p>
    <%= f.label :out_on %><br />
    <%= f.date_select :out_on %>
  </p>
  <p>
    <%= f.label :hatchlings %><br />
    <%= f.number_field :hatchlings %>
  </p>
  <p><%= f.submit %></p>
<% end %>
