<% title "Hatches" %>

<table>
  <tr>
    <th>Clutch</th>
    <th>Out On</th>
    <th>Hatchlings</th>
  </tr>
  <% for hatch in @hatches.sort_by(&:out_on).reverse %>
    <tr>
      <td><%= hatch.clutch.name %></td>
      <td><%= hatch.out_on %></td>
      <td><%= hatch.hatchlings %></td>
      <% if access?(hatch.user_id) %>
        <td><%= link_to "Edit", edit_hatch_path(hatch) %></td>
      <% end %>
      <% if highaccess? %>
        <td><%= link_to "Destroy", hatch, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Hatch", new_hatch_path %></p>
