<% title "Statuses" %>

<table>
  <tr>
    <th>Name</th>
    <th>Tracked</th>
    <th>Fertile</th>
  </tr>
  <% for status in @statuses %>
    <tr>
      <td><%= link_to status.name, status %></td>
      <td><%= status.tracked %></td>
      <td><%= status.fertile %></td>
      <% if highaccess? %>
        <td><%= link_to "Edit", edit_status_path(status) %></td>
      <% end %>
      <% if highaccess? && status.dragons.count == 0 %>
        <td><%= link_to "Destroy", status, :config => "Are you sure?", :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Status", new_status_path %></p>
