<% title "Status: #{@status.name}" %>

<table>
  <tr>
    <th>Number</th>
    <th>Clutch</th>
    <th>Group</th>
    <th>Weight</th>
    <th>Sex</th>
  </tr>
  <% for dragon in @status.dragons %>
    <tr>
      <td><%= link_to(dragon.number, dragon_path(dragon.id)) %></td>
      <td><% if dragon.clutch %><%= link_to(dragon.clutch.name, clutch_path(dragon.clutch.id)) %><% end %></td>
      <td><%= link_to(dragon.group.name, group_path(dragon.group.id))  %></td>
      <td><% if dragon.weights.count > 0 %><%= dragon.weights.sort_by(&:weighed_on).last.weight %><% end %></td>
      <td><%= sex(dragon.male) %></td>
      <% if access?(dragon.user_id) %>
        <td><%= link_to "Edit", edit_dragon_path(dragon) %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p>
<% if highaccess? %>
  <%= link_to "Edit", edit_status_path(@status) %> |
<% end %>
<span class="right">
<strong>Output: <%= link_to "XML", "#{status_path(@status.id)}.xml" %></strong>
</span>
</p>
