<% title "Users" %>

<table>
  <tr>
    <th>Username</th>
    <th>Status</th>
  </tr>
  <% @users.each do |u| %>
    <tr class="<%= cycle("odd", "even") %>">
      <td><%= link_to(u.username, u) %></td>
      <td><%= u.status %></td>
      <% if access?(u.id) %>
      <td><%= link_to "Edit", edit_user_path(u) %></td>
      <% end %>
      <% if access?(u.id) && highaccess? && u.unused %>
        <td><%= link_to "Remove", u, :confirm => "Are you sure you want to remove #{u.username}?", :method => :delete  %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User", new_user_path %></p>
