<% title "Medication" %>

<p>
  <strong>Name:</strong>
  <%= @medication.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @medication.description %>
</p>
<p>
  <strong>Usage:</strong>
  <%= @medication.usage %>
</p>

<p>
<%= link_to "Back", :back %>
<% if highaccess? %>
 | <%= link_to "Edit", edit_medication_path(@medication) %> 
<% end %>
</p>
