<%= form_for @weight do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :dragon_id %><br />
    <% unless params[:dragon_id] || controller.action_name == "edit" %>
      <%= f.collection_select :dragon_id, Dragon.all, :id, :number, :selected => params[:dragon_id] %>
    <% else %>
      <% if controller.action_name == "new" %>
        <h2><%= Dragon.find(:first, :conditions => { :id => params[:dragon_id]}).number %></h2>
        <%= f.hidden_field :dragon_id, :value => params[:dragon_id]%>
      <% else %>
        <h2><%= @weight.dragon.number %></h2>
        <%= f.hidden_field :dragon_id, :value => @weight.dragon_id %>
      <% end %>
    <% end %>
  </p>
  <p>
    <%= f.label :weighed_on %><br />
    <%= f.date_select :weighed_on %>
  </p>
  <p>
    <%= f.label :weight %><br />
    <%= f.number_field :weight %>
  </p>
  <p>
    <%= f.label :weight_type_id %><br />
    <%= f.collection_select :weight_type_id, WeightType.all, :id, :name %>
  </p>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <p><%= f.submit %></p>
<% end %>
