<%= form_for @weight do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :dragon_id %><br />
    <%= f.collection_select :dragon_id, Dragon.all, :id, :number, :selected => params[:dragon_id] %>
  </p>
  <p>
    <%= f.label :weighed_on %><br />
    <%= f.date_select :weighed_on %>
  </p>
  <p>
    <%= f.label :weight %><br />
    <%= f.number_field :weight %>
  </p>
  <p>
    <%= f.label :weight_type_id %><br />
    <%= f.collection_select :weight_type_id, WeightType.all, :id, :name %>
  </p>
  <p><%= f.submit %></p>
<% end %>
