<% title "Weights" %>

<table>
  <tr>
    <th>Dragon</th>
    <th>Weighed On</th>
    <th>Weight</th>
    <th>Weight Type</th>
  </tr>
  <% for weight in @weights %>
    <tr>
      <td><%= link_to(weight.dragon.number, dragon_path(weight.dragon.id)) %></td>
      <td><%= weight.weighed_on %></td>
      <td><%= weight.weight %></td>
      <td><%= weight.weight_type.name %></td>
      <% if access?(current_user.id) %>
        <td><%= link_to "Edit", edit_weight_path(weight) %></td>
        <% if highaccess? %>
          <td><%= link_to "Remove", weight, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Weight", new_weight_path %></p>
