<%= form_for @location do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :dragon_id %><br />
    <%= f.number_field :dragon_id %>
  </p>
  <p>
    <%= f.label :room %><br />
    <%= f.number_field :room %>
  </p>
  <p>
    <%= f.label :column %><br />
    <%= f.number_field :column %>
  </p>
  <p>
    <%= f.label :row %><br />
    <%= f.number_field :row %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
