<% title "Locations" %>

<table>
  <tr>
    <th>Dragon</th>
    <th>Room</th>
    <th>Column</th>
    <th>Row</th>
    <th>Cage</th>
  </tr>
  <% for location in @locations.reverse.uniq(&:dragon_id).sort_by(&:cage).sort_by(&:row).sort_by(&:column).sort_by(&:room) %>
    <tr>
      <td><%= link_to(location.dragon.number, location.dragon) %></td>
      <td><%= location.room %></td>
      <td><%= location.column %></td>
      <td><%= location.row %></td>
      <td><%= location.cage %></td>
      <% if access?(current_user.id) %>
      <td><%= link_to "Edit", edit_location_path(location) %></td>
      <% end %>
      <% if highaccess? %>
      <td><%= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Location", new_location_path %>
<span class="right">
<strong>Output: <%= link_to "XML", "#{locations_path}.xml" %></strong>
</span>
</p>
